<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mechs</title>
</head>
<body>
    <h1>Mechs</h1>
    <img src="/images/EBJ.jpeg" alt="The Ebon Jaguar">
    <img src="/images/hunchback.jpeg" alt="The Hunchback">
</body>
</html>