<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Document</title>
    <script>
            $(document).ready(function(){
                var socket = io.connect();
                $('#msg_form').hide();
                
                socket.on('msg', function(msgData) {
                    $('#chatBox').append(`<p>${msgData.msg}</p>`);
                });

                $('#register_form').submit( function(e){
                    e.preventDefault();
                    var username = {
                        name : $('#name').val()
                    }
                    socket.emit('registerUser', username)
                    $('#register_form').hide();
                    $('#msg_form').show();

                })

                $('#msg_form').submit(function(e){
                    e.preventDefault();
                    console.log(e);
                    var message_text = {
                        message_text: $('#msg').val()
                    }
                    socket.emit('msg', message_text);
                    $('#msg').val('');
                })
            });
        </script>
</head>
<body>
    <div id="chatBox">

    </div>
    <form id="register_form">
        <p>Name: <input type="text" id="name"></p>
        <input type="submit" value="submit">
    </form>
   <form id="msg_form">
    <p>Msg: <input type="text" id="msg"></p>
    <input type="submit" value="submit">
   </form>
</body>
</html>