<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ShintoCoins, Better than DogeCoin
  </h1>
  <h3>{{text}}</h3>
</div>
<div class="navigation">
  <button [routerLink]="['home']">Home</button>
  <button [routerLink]="['mine']">Mine Coins</button>
  <button [routerLink]="['buy']">Buy Coins</button>
  <button [routerLink]="['sell']">Sell Coins</button>
  <button [routerLink]="['browse']">Browse Ledger</button><br>
</div>

<router-outlet></router-outlet>

