
<form (submit)="addScore()"> <!--triggers method in component class-->
  Name: {{user}}
  Total Score: {{totalGold}}
  <input type="submit" value="ADD YER SCORE!">
</form>
{{score}}
<p> {{result}}</p>
  
<div class="container">
  <div class="forms">
    <div id="farm">
      <h3>Farm</h3>
      <p>Earns 2-5 gold</p>
      <button (click)="process('farm',2,5)">Farm!</button>
    </div>
    <div id="cave">
        <h3>Cave</h3>
        <p>Earns 5-10 gold</p>
        <button (click)="process('cave',5,10)">Cave!</button>
    </div>
    <div id="house">
        <h3>House</h3>
        <p>Earns 7-15 gold</p>
        <button (click)="process('house',7,15)">House!</button>
    </div>
    <div id="casino">
      <h3>Casino</h3>
      <p>Earns/Lose 0-50 gold</p>
      <button (click)="process('casino',-50,100)">Casino!</button>
    </div>
  </div>
  <div class="messages">
  <ul>
    <li *ngFor="let m of messages"> <!--creates a li for each value in array-->
        {{m}}
    </li>
  </ul>
  </div>
  
</div>
